
    <div class="content table-responsive table-full-width">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let cell of tableData?.headerRow">{{ cell }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cell of rowData;let i=index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ cell?.TenantId }}</td>
                    <td>{{ cell?.TenantName }}</td>
                    <td>{{ cell?.tenantType }}</td>
                    <td>
                      <a (click)="goToTenantDetails(cell)"><span class="ti-user clickable"></span></a>
                      <span class="ti-pencil-alt clickable"></span>
                      <span class="ti-close clickable"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>